<!DOCTYPE html>
<html>
<head>
  <title>Ridibooks CMS</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include '/comm/icon.twig' %}
  <link rel="stylesheet" href="{{ BOWER_PATH }}/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ BOWER_PATH }}/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}/css/admin/login.css">
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h3 class="text-center">Ridibooks CMS</h3>
      <hr/>

      {% if azure_authorize_url is defined %}
      <a role="button" class="btn btn-info btn-block" href='{{ azure_authorize_url }}'>
        Sign in with Azure
      </a>
      {% endif %}

      {% if test_authorize_url is defined %}
      <a role="button" class="btn btn-default btn-block" href='{{ test_authorize_url }}'>
        Sign in with Test
      </a>
      {% endif %}

    </div>
  </div>
</div>

</body>
</html>
